{
    "presets": ["@babel/preset-env"],
    "plugins": ["@babel/plugin-proposal-class-properties",["component", 
        {
          "libraryName": "mint-ui",  
          "style": true
        }
      ]]
}
// 1.安装npm install babel-plugin-component -D 吧mint-ui的内容按需导入
// 2. 注册 到plugins里  第二个那个

